/* Контейнер для сетки карточек */
.content-grid {
  display: grid; /* Отображаем элементы в виде сетки */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Автоматически подстраиваем колонки */
  gap: 20px; /* Отступ между карточками */
  padding: 20px; /* Внутренние отступы */
  background-color: #ecf0f1; /* Цвет фона контейнера */
}

/* Карточка */
.card-grid {
  background-color: white; /* Белый фон карточки */
  padding: 15px; /* Внутренние отступы карточки */
  border-radius: 10px; /* Закругленные углы карточки */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятия */
  display: flex; /* Гибкое расположение элементов */
  flex-direction: column; /* Элементы располагаются в колонку */
  align-items: center; /* Выравнивание элементов по центру */
  text-align: center; /* Выравнивание текста по центру */
}

/* Верхняя часть карточки */
.card-header-grid {
  display: flex; /* Гибкое расположение элементов */
  flex-direction: column; /* Элементы располагаются в колонку */
  align-items: center; /* Выравнивание элементов по центру */
  margin-bottom: 10px; /* Отступ снизу */
}

.risk-photo {
  width: 60px; /* Ширина изображения */
  height: 60px; /* Высота изображения */
  border-radius: 50%; /* Округление изображения */
  object-fit: cover; /* Обрезка изображения, чтобы сохранить пропорции */
}

.risk-info {
  display: flex; /* Гибкое расположение элементов */
  flex-direction: column; /* Элементы располагаются в колонку */
  align-items: center; /* Выравнивание элементов по центру */
  font-size: 0.9em; /* Размер шрифта */
  color: #7f8c8d; /* Цвет текста */
  margin-top: 5px; /* Отступ сверху */
}

/* Средняя часть карточки */
.card-middle-grid {
  display: flex; /* Гибкое расположение элементов */
  flex-direction: column; /* Элементы располагаются в колонку */
  align-items: center; /* Выравнивание элементов по центру */
  font-size: 1em; /* Размер шрифта */
  font-weight: bold; /* Жирный шрифт */
  color: #34495e; /* Цвет текста */
  margin-bottom: 10px; /* Отступ снизу */
}

/* Нижняя часть карточки */
.card-description-grid {
  font-size: 0.9em; /* Размер шрифта */
  color: #2c3e50; /* Цвет текста */
}
.card-critical {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 2px;
  margin-right: 8px;
}

.card-critical.green { background-color: #14f304; }
.card-critical.red { background-color: #ff0318; }
.card-critical.yellow { background-color: #fdf903; }
.card-critical.orange { background-color: #f89604; }
.card-critical.gray { background-color: #3b3b3a; }
