.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 80px); /* 100% высоты экрана минус хедер */
  overflow: hidden;
  position: relative; /* Добавляем для позиционирования кнопки */
}

.main-content-area {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Чтобы контент начинался сверху */
  overflow-y: auto; /* Добавляем прокрутку, если контент выходит за границы */
  padding-bottom: 60px; /* Место для нижней панели */
}

.main-content-area > div {
  width: 100%;
  max-width: 1200px; /* Ограничиваем ширину контента */
  height: auto; /* Позволяем контенту растягиваться по высоте */
  min-height: 100%;
}
