.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px; /* Уменьшенный padding */
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  height: 32px; /* Фиксированная высота */
}

.section-header h2 {
  margin: 0;
  font-size: 14px; /* Опционально: уменьшенный размер шрифта */
}

.section-header button {
  padding: 3px 8px; /* Уменьшенный padding */
  background-color: #1f7f72;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px; /* Меньший радиус скругления */
  font-size: 12px; /* Опционально: уменьшенный размер шрифта */
  height: 24px; /* Фиксированная высота кнопки */
  width: 80px; /* Минимальная ширина кнопки */
}

.section-header button:hover {
  background-color: #58978f;
}
