.sidebar {
  width: 250px;
  background-color: white;
  color: #1f7f72;
  padding: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  overflow: hidden;
  position: fixed;
  top: 80px; /* Отступ сверху, чтобы не перекрывать TopMenu */
  left: 0;
  bottom: 0;
  z-index: 999; /* Убедимся, что Sidebar ниже TopMenu */
}

.sidebar.collapsed {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

.sidebar.mobile {
  width: 100%; /* На мобильных устройствах занимает всё окно */
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar-header:hover {
  background-color: #ecf0f1;
}

.sidebar-icon {
  font-size: 24px;
  color: #1f7f72;
}

.sidebar-header span {
  margin-left: 10px;
}